{
  "extends": ["next", "next/core-web-vitals", "prettier", "prettier/react"],
  "plugins": [
  "next",
  "next/core-web-vitals",
  "plugin:react/recommended",
  "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": "error"
  }
}