.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.card {
  background-color: #f1cdcd;
  margin: 1rem;
  flex-basis: 45%;
  padding: 1rem;
  text-align: center;
  max-width: 400px;
  color: inherit;
  text-decoration: none;
  border: 1px solid #85969a;
  border-radius: 10px;
  /* Animations */
  transition: background-color 2s ease;
  opacity: 0; /* Make the dots initially invisible */
  animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px); /* Start slightly below and fade up */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Reach final position */
  }
}

.card:hover,
.card:focus,
.card:active {
  color: #fff;
  border-color: #6b7b74;
}

.card h3 {
  margin: 0 0 8px 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media only screen and (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
    max-width: 500px;
    flex-wrap: wrap;
    margin-top: -20px;
  }

  .card {
    margin: 16px 35px;
  }

  .card h3 {
    font-size: 18px;
    color: #403c46;
  }

  .card p {
    font-size: 16px;
    color: #403c46;
  }
}
