.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 2rem; */
  border-radius: 0.5rem;
  margin-top: 5%;
}

.rsvpPic {
  width: 50px;
}

.label {
  margin-top: 5% 0;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #85969a;
  text-align: center;
}

.loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
}

.input {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  width: 50rem;
  font-size: 2rem;
  color: #85969a;
  font-family: Playfair Display;
  text-align: center;
}

.error {
  color: #e07d54;
  text-align: center;
  margin: -5px 30px 20px 30px;
  font-size: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 50px;
  margin: 20px;
  padding: 50px;
  padding-top: 12px;
  font-size: 25px;
}

.switch input {
  display: none;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: 0.4s;
  text-align: center;
  padding-top: 12px;
}

.switch input:checked + .slider {
  transition: background-color 0.5s ease;
  background-color: #f1cdcd;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #f1cdcd;
}

.switch .slider:hover {
  opacity: 0.7;
}

.vl {
  border-left: 8px solid #f1cdcd;
  height: 100px;
  position: relative;
  margin: 5% 50%;
}

.rsvp {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .personalMessage {
    color: #85969a;
    text-align: center;
  }

  .personalMessage label {
    margin: 10% 35px;
    display: block;
    font-size: 18px;
  }

  .input {
    width: 100%;
    font-size: 18px;
    padding: 12px;
  }

  .vl {
    border-left: 3px solid #f1cdcd;
    height: 30px;
    position: relative;
    margin: 10px 50%;
  }

  .fa {
    font-size: 25px !important;
  }

  .form {
    padding: 0 30px;
    display: block;
  }

  .label {
    display: block;
    font-size: 18px;
    margin: 15px 30px;
  }

  .switch {
    width: 40%;
    margin: 5px;
    padding: 0px;
    font-size: 16px;
  }
}
