.dayInfo {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.dayInfo h2 {
  font-size: 20px;
  color: #403c46;
  margin-bottom: 17px;
}

.dayInfo h3 {
  font-size: 18px;
  color: #403c46;
  margin-bottom: 17px;
}

.dayBox {
  text-align: left;
  box-shadow: 0 0 0.5rem #f1cdcd;
  border: 1px solid #85969a84;
  width: 85%;
  padding: 3% 6%;
  margin: 5% 0;
  background-color: #f1cdcd;
}

.dayInfo p {
  font-size: 15px;
  color: #403c46;
  text-align: justify;
}
